 **Hello World**


1.   Taking input from user

In [3]:
print('Hello')

Hello

** Taking user Input**

In [1]:
a = int(input())
b = str(input())

2
e

**Basic Data Types**


1.   Integer
2.   Float

In [4]:
a = 5
b = 5.5
c = True

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

**Arithmatic Operations**

1.   Addition
2.   Subtraction
3.   Multipliction
4.   Division

In [7]:
a = 5
b - 5.5

print(a+b)
print(a-b)
print(a*b)
print(a/b)

10.5
-0.5
27.5
0.9090909090909091

**Arithmatic operation by incremet**

In [11]:
x = 10
x+=1
print(x)

11

In [ ]:
print(a+b, a-b, a*b, a/b)

x=1
x++
print(x)

**Unary increment**

In [ ]:
x=1
x++
print(x)

**Booleans**

In [12]:
t,f = True, False
print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

# **TASK 1**



 **Logical Operations**
 

1.   AND
2.   OR

In [14]:
t,f  =True,False
print(f or f)
print(f or t)
print(t or f)
print(t or t)

False
True
True
True

In [15]:
t,f  =True,False
print(f and f)
print(f and t)
print(t and f)
print(t and t)

False
False
False
True

**String Operations**

**String Concatenation**



1.   Capitalize
2.   Uppercase
3.   Lowercase
4.   Rightjustify
5.   Center
6.   Replace

In [27]:
s = "nitk"
print(s)
print(s.capitalize())
print(s.upper())
print(s.rjust(5))
print(s.center(0))
print(s.replace('n','N'))

nitk
Nitk
NITK
 nitk
nitk
Nitk

# Task 2

**String Concatenattion**

In [29]:
a = "Hello"
b = " NITK"

print(a+b)

Hello NITK

In [31]:
a = str(input())
b = str(input())
c = a+b
print( c)

a
b
ab

**Containers**


1.   Lists
2.   Dictionary
3.   Sets
4.   Tuples

---

**List Operations**


1.   Lenght
2.   Initial Element
3.   Last Element
4.   Accessing element by array index
5.   Adding elements of different types into the list
6.   Append
7.   Pop
8.   Remove
9.   Clear/Delete

In [78]:
a = [1,2,3.5,'K',"G",True,False]
print(a)

print(len(a))

print(a[4])

print(a[0])

print(a[-1])

a.append("h")
print(a)

a.append(10)
print(a)

print(a.pop())
print(a)

a.remove('K')
print(a)

a.clear()
print(a)

del a

[1, 2, 3.5, 'K', 'G', True, False]
7
G
1
False
[1, 2, 3.5, 'K', 'G', True, False, 'h']
[1, 2, 3.5, 'K', 'G', True, False, 'h', 10]
10
[1, 2, 3.5, 'K', 'G', True, False, 'h']
[1, 2, 3.5, 'G', True, False, 'h']
[]

**Slicing**

In [92]:
#a = [0,1,2,3,4,5,6,7,8,9]
#print(a)
a = list(range(0,9))
print(a)

print(a[3:8])
print(a[:3])
print(a[3:])
print(a[:])
print(a[:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7]
[0, 1, 2]
[3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]

**Loops**

In [128]:
a = [1,2,3]
for i in a:
    print(i)

1
2
3

**Enumerate**

In [135]:
for index, i in enumerate(a):
    print("%d: %s" %(index+1, i))

1: 1
2: 2
3: 3

# Task3
 
Python program to print all the numbers which are divisible by 7 but are not multiple of 5 between 2000 and 3200

In [139]:
a = []
for i in range(0, 10):
    if (i%7==0)and (i%5!=0):
        a.append(i)        
print(a)

[7]

# Task4
 
Square the number

In [140]:
a = [1,2,3,4,5]
square =[]
for i in a:
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

**Dictionary**


1.   Checking the presence of elements in dictionary
2.   Print Keys and Values 
3.   Print lenght of dictionary
4.   Getting the keys from the dictionary
5.   Accessing the element which is not present in the list
6.   Iterate through dictionary
7.   Updating the element in dictionary
8.   Clear the dictionary
9.   Delete

In [3]:
alpha ={'a':1,'b':2}
print(alpha)

print('a' in alpha)

print(alpha.keys())

print(alpha.values())

print(len(alpha))

for i in alpha:
    print(i)
    
alpha.update({'c':3})
print(alpha)

print(alpha['a'])

alpha.clear()
print(alpha)

del alpha

#print(alpha)

{'b': 2, 'a': 1}
True
dict_keys(['b', 'a'])
dict_values([2, 1])
2
b
a
{'b': 2, 'a': 1, 'c': 3}
1
{}

# Task 5

Question: Using the concept of dictionary, form a list from 0-9 and square only even numbers

In [174]:
a = list(range(0,9))
even = {x: x**2 for x in a if x%2==0}
print(even)

{0: 0, 8: 64, 2: 4, 4: 16, 6: 36}

**Sets**


1.   Check the elements in sets
2.   Lenght of sets
3.   Add elements to sets 
4.   Remove the elements from sets
5.   Iterate with enumerate
6.   Clear  
7.   Delete

In [187]:
s = {'a','b'}
print('a' in s)

print(len(s))

s.add('c')
print(s)

s.remove('a')
print(s)

for i in s:
    print(i)

s.clear()
print(s)

del s
#print(s)

True
2
{'c', 'b', 'a'}
{'c', 'b'}
c
b
set()

**Tuples**


1.   Initial element
2.   Final Element
3.   Lenght of tuple
4.   Delete Tuples

In [196]:
a = (1,2,3,4)
print(a)
print(a[-1])
print(len(a))
print(a[0])
#del a

(1, 2, 3, 4)
4
4
1

**Functions**

In [2]:
def add(a,b):
    c = a+b
    return c

add(4,5)

9

# Task
Add two numbers by taking users input